* {
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  flex-direction: column;
}
.xdiv {
  width: 100%;
  height: 100vh;
  background-color: red;
}
.first-div {
  background: linear-gradient(to bottom, #fef7f9, #ffdded);
}
