* {
  margin: 0;
  padding: 0;
}

body {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system;
}

.main {
  display: flex;
  flex-direction: column;
}

.xdiv {
  width: 100%;
  height: 100vh;
}

/* ---------- FIRST SECTION ---------- */

.first-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background: linear-gradient(to bottom, #fef7f9, #ffdded);
}

.heart-img {
  height: 80px;
}

.thanks-1st-p {
  font-weight: bold;
  font-size: 80px;
  background: linear-gradient(to right, #fc2f51, #f228b5, #b11fff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-1st-p {
  font-size: 55px;
  font-weight: 500;
  color: #353535;
}

.beloved-1st-p {
  font-size: 25px;
  color: #454545;
  font-style: italic;
  margin-top: 25px;
}

.des-1st-p {
  color: #303030;
  font-size: 18px;
  width: 700px;
  text-align: center;
  margin-top: 35px;
}

.mouse {
  height: 40px;
  margin-top: 100px;
  animation: anime 1.5s infinite alternate;
}

@keyframes anime {
  to {
    transform: translateY(100%);
  }
}

.scroll-1st-p {
  margin-top: 40px;
  color: #919191;
}

/* ---------- SECOND SECTION ---------- */

.second-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  background-color: #fff;
}

.content-2nd {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.camera {
  height: 80px;
}

.Memories-2nd-p {
  font-size: 45px;
  font-weight: 700;
  color: #353535;
  margin-top: 20px;
}

.des-2nd-p {
  margin-top: 30px;
  width: 700px;
  text-align: center;
  font-size: 19px;
  color: #353535;
}

.photo-2nd {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 100px;
}

.pp {
  width: 1000px;
  height: 600px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;

  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.pp::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  box-shadow: inset 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.pp:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.pp:hover::after {
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.45);
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.photo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease;
}

.photo-img:hover {
  transform: scale(1.05);
}
