body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom, #f1bed7, #fefcdc, #d0d7fd);
}
p {
  font-family: "Roboto", sans-serif;
}
div {
  font-family: "Roboto", sans-serif;
}
img {
  height: 50px;
  object-fit: contain;
}
.main-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.name-1st-p {
  font-size: 55px;
  font-weight: 500;
  color: #353535;
  margin-top: 200px;
  width: 800px;
  text-align: center;
}
.des-1st-p {
  color: #303030;
  font-size: 18px;
  width: 700px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 350px;
}
.chat-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 900px;
  margin-bottom: 50px;
  border-radius: 30px;
  overflow: hidden;
  background-image: url("../../assets/images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/*------------------------------*/
.footer-div {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
}
.typing-div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 65px;
  background-color: white;
  border-radius: 50px;
  margin-left: 10px;
  overflow: hidden;
}
.voice-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 70px;
  background-color: #17aa61;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}
.git-img {
  filter: contrast(200%) brightness(120%);
  opacity: 0.6;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px;
}
.mesage-inp {
  flex: 1;
  background-color: rgb(255, 255, 255);
  height: 100%;
  vertical-align: center;
  font-size: 25px;
}
.mesage-inp::placeholder {
  font-size: 25px;
}
.pin-img {
  rotate: 135deg;
  height: 35px;
  margin-right: 30px;
}
.camera-img {
  width: 44px;
  margin-right: 15px;
}
.voice-img {
  height: 30px;
}
/*------------------------------*/
.header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: white;
}

.back-img {
  height: 15px;
  rotate: 225deg;
  margin-left: 30px;
}
.logo {
  margin-left: 30px;
  height: 65px;
}
.group-des {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.main-title {
  font-size: 23px;
}
.sub-des {
  font-size: 16px;
  color: #696969;
}
.icon-div {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: end;
}
.call-div {
  display: flex;
  align-items: center;
}
.video-call-img {
  height: 46px;
}
.more-img {
  rotate: 90deg;
  height: 10px;
  margin-left: 10px;
}
.setting {
  margin-left: 30px;
  margin-right: 25px;
  height: 30px;
}
/*------------------------------*/

.msg-div {
  margin-left: 10px;
  margin-right: 10px;
}
.message {
  padding-top: 5px;
  padding-bottom: 3px;
  border-radius: 15px;
  position: relative;
  word-wrap: break-word;
  font-size: 20px;
  min-width: 10px;
  max-width: 600px;
  font-size: 17px;
  color: black;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  animation: appearo linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
  container-type: inline;
  container-name: x;
}
@container x (max-width : 10000px) {
  .message {
    background-color: rebeccapurple;
  }
}

/* Bubble for sender */
.message.sender {
  align-self: flex-end;
  border-top-right-radius: 0px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #b3ffc5;
}

/* Bubble for receiver */
.message.receiver {
  align-self: flex-start;
  border-top-left-radius: 0;
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Optional: small triangle pointer */
.message.sender::after {
  content: "";
  position: absolute;
  right: -15px;
  top: -2.5px;
  border-width: 5px 0 10px 20px;
  transform: rotate(-12deg);
  border-style: solid;
  border-color: transparent transparent transparent #b3ffc5;
}

.message.receiver::after {
  content: "";
  position: absolute;
  left: -15px;
  top: -2.5px;
  border-width: 5px 20px 10px 0px;
  transform: rotate(12deg);
  border-style: solid;
  border-color: transparent #ffffff transparent transparent;
}
.profile-img {
  height: 35px;
  width: 35px;
  object-fit: cover;
  border-radius: 50%;
}
.sender-msg-div {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: start;
}
.receiver-msg-div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: start;
}
.message-name {
  text-align: start;
  color: rgb(255, 0, 0);
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 5px;
}
.message-time {
  text-align: end;
  font-size: 13px;
  color: rgb(82, 82, 82);
  margin-top: -1px;
}
.profile-div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  height: 35px;
  width: 35px;
  color: white;
  background-color: red;
  border-radius: 50%;
}
.next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 50px;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg, rgb(255, 168, 168), rgb(229, 164, 255));
  color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 16px;
  text-shadow: 0 0 5px rgb(186, 109, 109);
  margin-bottom: 50px;
  cursor: pointer;
}

.next-btn:hover {
  opacity: 0.8;
}
.next-btn:active {
  background-color: white;
  opacity: 0.6;
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: 48px;
}
