body {
  background-color: #050505;
  color: #ffffff;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Georgia", serif;
  overflow: hidden;
}

.screen {
  position: absolute;
  text-align: center;
  transition: opacity 2s cubic-bezier(0.4, 0, 0.2, 1);
  width: 80%;
}

.hidden {
  opacity: 0;
  filter: blur(20px);
}

.presentation-title {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: #a1a1a1;
  margin-bottom: 3rem;
  font-family: sans-serif;
}

#typing-text {
  font-size: 2.8rem;
  line-height: 1.5;
  font-weight: 400;
}

#typing-text span {
  display: inline-block;
  opacity: 0;
  filter: blur(10px);
  transform: translateY(5px);
  animation: revealText 0.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes revealText {
  to {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0px);
  }
}

#main-content::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  z-index: -1;
}
