body {
  background: linear-gradient(
    45deg,
    rgb(255, 192, 192),
    rgb(255, 236, 217),
    rgb(245, 220, 255)
  );
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome-p {
  font-weight: bold;
  font-size: 100px;
  background: linear-gradient(45deg, #fa6fff, #ff6f6f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: scale(0.5);
  animation: fadeZoom 1s ease forwards;
}
@keyframes fadeZoom {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.des-p {
  font-size: 18px;
  width: 550px;
  text-align: center;
  margin-top: 10px;
  transform: scale(0.5);
  animation: fadeZoom 1s ease forwards;
}
@keyframes fadeZoom {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.Sigin-1st-btn {
  width: 300px;
  height: 40px;
  border: none;
  background-color: #ffffff;
  color: rgb(40, 40, 40);
  font-weight: bold;
  font-size: 16px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  margin-top: 210px;
  transform: scale(0.5);
  animation: fadeZoom 1s ease forwards;
  transition:
    background-color 0.15s ease-in-out,
    margin-left 0.15s ease-in-out;
}
.Sigin-1st-btn:hover {
  background-color: #fff5f6;
}
.Sigin-1st-btn:active {
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  margin-top: 212px;
  margin-left: 2px;
  margin-bottom: -2px;
}
