.main {
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: calc(100% - 600px);
  height: 100vh;
  /* top: calc(100vh - 0px);*/
  top: 60px;
  z-index: 100;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  box-shadow: 0 10px 30px rgba(76, 76, 76, 0.3);
  transition: top 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-onclick {
  top: 60px;
}
body {
  background: linear-gradient(
    45deg,
    rgb(255, 192, 192),
    rgb(255, 236, 217),
    rgb(245, 220, 255)
  );
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome-p {
  font-weight: bold;
  font-size: 100px;
  background: linear-gradient(to right, #ff5b77, #f460c7, #c966ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: scale(0.5);
  animation: fadeZoom 1s ease forwards;
}
@keyframes fadeZoom {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.des-p {
  font-size: 18px;
  width: 550px;
  text-align: center;
  margin-top: 10px;
  transform: scale(0.5);
  animation: fadeZoom 1s ease forwards;
}
@keyframes fadeZoom {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.Sigin-1st-btn {
  width: 300px;
  height: 40px;
  border: none;
  background-color: #ffffff;
  color: rgb(109, 109, 109);
  font-weight: bold;
  font-size: 16px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  margin-top: 210px;
  transform: scale(0.5);
  animation: fadeZoom 1s ease forwards;
  transition:
    background-color 0.15s,
    margin-left 0.15s;
}
.Sigin-1st-btn:hover {
  background-color: #fff5f6;
}
.Sigin-1st-btn:active {
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  margin-top: 212px;
  margin-left: 2px;
  margin-bottom: -2px;
}
