body {
  position: relative;
}
.back-2nd-img {
  position: fixed;
  rotate: 90deg;
  height: 30px;
  bottom: 60px;
  display: none;
}
.back-2nd-active-img {
  display: block;
  cursor: pointer;
}
.main {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.432);
  backdrop-filter: blur(12px);
  width: calc(100% - 700px);
  height: 100vh;
  top: 100vh;
  /*top: 60px;*/
  /*top: calc(100vh - 50px);*/
  z-index: 100;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  box-shadow: 0 10px 30px rgba(76, 76, 76, 0.3);
  transition:
    top 1s ease-in-out,
    border-radius 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.back-img {
  height: 45px;
  position: fixed;
  top: 50px;
  left: 50px;
  cursor: pointer;
}
.main-onclick {
  top: 60px;
}
.main-2nd-onclick {
  top: calc(100vh - 50px);
  border-radius: 30px;
}
.main-welcome-p {
  font-size: 40px;
  margin-top: 100px;
  font-weight: 500;
}
.main-welcome-des-p {
  font-size: 14px;
  margin-top: 20px;
}
.main-welcome-2nd-des-p {
  font-size: 14px;
  font-weight: 500;
}
.user-pass-main-div {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user-pass-div {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.381);
  width: 400px;
  height: 40px;
  border: solid rgb(185, 185, 185) 2px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s ease;
}
.user-pass-div-wrong-user {
  border: solid rgb(255, 104, 104) 2px;
  animation: shake 0.5s ease;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-8px);
  }
  40% {
    transform: translateX(8px);
  }
  60% {
    transform: translateX(-8px);
  }
  80% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}
.user-pass-inp {
  flex: 1;
  height: 100%;
  text-indent: 15px;
  background: none;
}
.user-div:has(input:focus) {
  background-color: rgb(255, 255, 255);
}
.pass-div:has(input:focus) {
  background-color: rgb(255, 255, 255);
}
.eye {
  height: 25px;
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
}
.forgot-p {
  margin-top: 5px;
  margin-left: 270px;
  font-size: 14px;
  cursor: pointer;
  transition: text-decoration 0.15s ease-in-out;
}
.forgot-p:hover {
  text-decoration: underline;
}
.Sigin-a {
  margin-top: 100px;
}
.Sigin-2nd-btn {
  background: linear-gradient(45deg, rgb(255, 165, 165), rgb(226, 154, 255));
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 16px;
  text-shadow: 0 0 5px rgb(186, 109, 109);
}
.Sigin-2nd-btn:hover {
  opacity: 0.8;
}
.Sigin-2nd-btn:active {
  background-color: white;
  opacity: 0.6;
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: -2px;
}
