.second-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  background-color: #fff;
}

.content-2nd {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.camera {
  height: 100px;
}

.Memories-2nd-p {
  font-size: 45px;
  font-weight: 700;
  color: #353535;
  margin-top: 20px;
}

.des-2nd-p {
  margin-top: 30px;
  width: 700px;
  text-align: center;
  font-size: 19px;
  color: #353535;
}

.photo-2nd {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 100px;
}

.ppe {
  width: 1000px;
  height: 600px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 100;

  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.ppe::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  box-shadow: inset 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.5s ease-in-out;
  pointer-events: none;
  z-index: 100;
}

.ppe:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.ppe:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.ppe:hover .img-des-p {
  bottom: 30;
}

.ppe:hover::after {
  box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.6);
}
.ppo {
  width: 1000px;
  height: 600px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 100;

  animation: appearo linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.ppo::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  box-shadow: inset 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.5s ease-in-out;
  pointer-events: none;
  z-index: 100;
}

.ppo:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.ppo:hover .img-des-p {
  bottom: 30;
}

.ppo:hover::after {
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.45);
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
    transform: translatex(100%);
    filter: blur(10px);
  }
  to {
    opacity: 1;
    scale: 1;
    filter: blur(0px);
  }
}

@keyframes appearo {
  from {
    opacity: 0;
    scale: 0.5;
    transform: translatex(-100%);
    filter: blur(10px);
  }
  to {
    opacity: 1;
    scale: 1;
    filter: blur(0px);
  }
}
.photo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.ppe:hover .photo-img,
.ppe .img-des-p:hover ~ .photo-img,
.ppo:hover .photo-img,
.ppo .img-des-p:hover ~ .photo-img {
  transform: scale(1.05);
}
.img-des-p {
  position: absolute;
  color: white;
  font-size: 30px;
  text-align: center;
  left: 0;
  right: 0;
  bottom: -70;
  transition: all 0.5s ease-in-out;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  z-index: 300;
}
