.main {
  display: flex;
  flex-direction: column;
}

.xdiv {
  width: 100%;
  height: 100vh;
}

/* ---------- FIRST SECTION ---------- */

.first-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background: linear-gradient(to bottom, #fef7f9, #ffdded);
}

.heart-img {
  height: 80px;
}

.thanks-1st-p {
  font-weight: bold;
  font-size: 80px;
  background: linear-gradient(to right, #fc2f51, #f228b5, #b11fff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-1st-p {
  font-size: 55px;
  font-weight: 500;
  color: #353535;
}

.beloved-1st-p {
  font-size: 25px;
  color: #454545;
  font-style: italic;
  margin-top: 25px;
}

.des-1st-p {
  color: #303030;
  font-size: 18px;
  width: 700px;
  text-align: center;
  margin-top: 35px;
}

.mouse {
  height: 40px;
  margin-top: 100px;
  animation: anime 1.5s infinite alternate;
}

@keyframes anime {
  to {
    transform: translateY(100%);
  }
}

.scroll-1st-p {
  margin-top: 40px;
  color: #919191;
}
.third-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-bottom: 50px;
}
.next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 50px;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg, rgb(255, 168, 168), rgb(229, 164, 255));
  color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 16px;
  text-shadow: 0 0 5px rgb(186, 109, 109);
}

.next-btn:hover {
  opacity: 0.8;
}
.next-btn:active {
  background-color: white;
  opacity: 0.6;
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: -2px;
}
.back-img {
  width: 29px;
  rotate: 180deg;
}
