.main {
  display: flex;
  flex-direction: column;
}

.xdiv {
  width: 100%;
  height: 100vh;
}

/* ---------- FIRST SECTION ---------- */

.first-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background: linear-gradient(to bottom, #fef7f9, #ffdded);
}

.heart-img {
  height: 80px;
}

.thanks-1st-p {
  font-weight: bold;
  font-size: 80px;
  background: linear-gradient(to right, #fc2f51, #f228b5, #b11fff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-1st-p {
  font-size: 55px;
  font-weight: 500;
  color: #353535;
}

.beloved-1st-p {
  font-size: 25px;
  color: #454545;
  font-style: italic;
  margin-top: 25px;
}

.des-1st-p {
  color: #303030;
  font-size: 18px;
  width: 700px;
  text-align: center;
  margin-top: 35px;
}

.mouse {
  height: 40px;
  margin-top: 100px;
  animation: anime 1.5s infinite alternate;
}

@keyframes anime {
  to {
    transform: translateY(100%);
  }
}

.scroll-1st-p {
  margin-top: 40px;
  color: #919191;
}
.third-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
