.rating-relative-div {
  position: relative;
  transition: margin-bottom 0.8s ease-in-out;
  margin-bottom: 0px;
  overflow: visible;
}
.rating-div {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  width: 100%;
  height: 200px;
  z-index: 1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(230, 230, 230);
  transition: bottom 0.8s ease-in-out;
}
.rating-div-active {
  bottom: -150px;
}
.rating-relative-div-active {
  margin-bottom: 120px;
}

.emoji-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  cursor: pointer;

  width: 180px;
  height: 120px;
  margin-top: 65px;
  margin-left: 10px;
  margin-right: 10px;

  border-radius: 15px;

  transition: transform 0.15s ease-in-out;
}
.emoji-div:hover {
  transform: scale(1.1);
}
.emoji-div:active {
  transform: scale(0.8);
}
.emoji-img {
  height: 70px;
}
.emoji-des {
  margin-top: 10px;
  font-weight: 500;
}
