.rating-relative-div {
  position: relative;
  transition: margin-bottom 0.8s ease-in-out;
  margin-bottom: 120px;
  overflow: visible;
}
.rating-div {
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  bottom: -150px;
  transform: translateX(-50%);
  width: 100%;
  height: 200px;
  z-index: 1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(222, 222, 222);
  transition: bottom 0.8s ease-in-out;
}
.rating-div-active {
  bottom: -150px;
}
.rating-relative-div-active {
  margin-bottom: 120px;
}

.emoji-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 180px;
  height: 120px;
  margin-top: 65px;
  border-radius: 15px;
}
.emoji-img {
  height: 90px;
}
