.main {
  display: flex;
  flex-direction: column;
}

.xdiv {
  width: 100%;
}

/* ---------- FIRST SECTION ---------- */

.first-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background: linear-gradient(45deg, #fff7c6, #ffc6c6, #c1f6fc);
}

.heart-img {
  height: 80px;
}

.name-1st-p {
  font-size: 55px;
  font-weight: 500;
  color: #353535;
}

.beloved-1st-p {
  font-size: 25px;
  color: #454545;
  font-style: italic;
  margin-top: 25px;
}

.des-1st-p {
  color: #303030;
  font-size: 18px;
  width: 700px;
  text-align: center;
  margin-top: 35px;
}

.mouse {
  height: 40px;
  margin-top: 100px;
  animation: anime 1.5s infinite alternate;
}
.vidio-div {
  background-color: #ffffff33;
  width: 100%;
  height: 600px;
}
.review-div {
  width: 100%;
  height: 1000px;
  background-color: rgba(102, 51, 153, 0.489);
}
.x-div {
  display: block;
}
