.main {
  display: flex;
  flex-direction: column;
}

.xdiv {
  width: 100%;
}

/* ---------- FIRST SECTION ---------- */

.first-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background: linear-gradient(45deg, #fff7c6, #ffc6c6, #c1f6fc);
}

.heart-img {
  height: 80px;
}

.name-1st-p {
  font-size: 55px;
  font-weight: 500;
  color: #353535;
}

.des-1st-p {
  color: #303030;
  font-size: 18px;
  width: 700px;
  text-align: center;
  margin-top: 10px;
}

.mouse {
  height: 40px;
  margin-top: 100px;
  animation: anime 1.5s infinite alternate;
}
.vidio-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff61;
  width: 100%;
  height: 80vh;
  margin-top: 50px;
}
.click-p {
  margin-bottom: 10px;
}
.click-p-none {
  display: none;
}
.vidio-vid {
  height: 80%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}
.review-div {
  width: 100%;
  height: 100vh;
  background-color: rgba(102, 51, 153, 0.489);
}
